*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(24, 23, 23);
}

.container{
    height: 100vh;
    width: 100%;
    font-size: 30px;
    background-color: rgb(24, 23, 23);
}
nav {
    width: 100%;
    padding: 20px 2%;
    color: white;
}

nav .logo{
    display: flex;
    align-items: center;
}

.content{
    margin-left: 10%;
    margin-top: 12%;
    color: white;
}

.content h2{
    font-size: 50px;
}

.searchButton{
    margin-top: 5%;
    padding: 20px 50px;
    border: none; 
    border-radius: 40px;
    font-size: 25px;
    font-weight: 600;
    background-image: linear-gradient(to right, rgb(51, 60, 225), rgb(78, 230, 48));
    cursor: pointer;
}

.searchButton {
    margin-right: 400px;
    background-image: linear-gradient(to right, rgb(51, 60, 225), rgb(78, 230, 48));
    background-size: 200% auto; /* The double size to animate both colors */
}

.searchButton:hover {
    animation: animatedGradient 3s infinite alternate; /* Adjust the duration as you like */
}

@keyframes animatedGradient {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}


section{
    display: grid;
    place-items: center; 
    align-content: center;
    min-height: 100vh;
    width: 100%;
    color: white;
    font-size: 20px;
}

#small{
    padding: 40px 50px;
}

.hidden{
    display: none;
    float:right;
    margin-right: 400px;
}

.revealBtn{
    display:initial;
    float:right;
    margin-right: 400px;
}




